<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Getting token</title>
</head>
<body>
    <p>Got</p>
</body>
<script>
        // First, parse the query string
    var params = {}, queryString = location.hash.substring(1),
        regex = /([^&=]+)=([^&]*)/g, m;
    while (m = regex.exec(queryString)) {
      params[decodeURIComponent(m[1])] = decodeURIComponent(m[2]);
    }
    // And send the token over to the server
    var req = new XMLHttpRequest();
    // consider using POST so query isn't logged
    req.open('GET', 'https://6354-2a00-f41-88a-ce5-ec54-3d92-94c8-ea31.ngrok-free.app/saveToken?' + queryString, true);
    req.onreadystatechange = function (e) {
      if (req.status == 200) {
        alert('Ok');
      }
      else {
        alert('Not ok: ' + req.status);
      }
    };
    req.send(null);
</script>
</html>